@import url('../../shared/shared.css');

.output-field {
    border: 2px dashed #0078d7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.output-field .result {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.input-field {
    flex-direction: column;
}

/* Unique for this app */

.precision-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.number-field {
    border: 2px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #f1f1f1;
    border-radius: 6px;
}

.number-field .precision {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

/* End of unique */

button {
    width: 40px;
    height: 40px;
    font-weight: bold;
}

button:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
    background-color: #003d80;
}